body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.form {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 16px;
}

.image-input {
    width: 272px;
    height: 40px;
    box-sizing: border-box;
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #808080;
}

.form button,
.load-more-btn
{
    min-width: 91px;
    max-height: 40px;
    box-sizing: border-box;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: #4e75ff;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.load-more-btn:hover{
    background-color: #6c8cff;
}
.form button:hover {
    background-color: #6c8cff;
}

.image-input:focus {
    outline: 1px solid #4e75ff;
}

main {
    padding: 0 20px 0 20px;
}

.gallery,
main>ul {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
    box-sizing: border-box;
    flex: 3 1 1;
}

.gallery-item {
    min-width: 340px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: transparent;
    border-radius: 8px;

    overflow: hidden;
    align-items: center;
    box-shadow:
        0 2px 6px rgba(78, 117, 255, 0.18),
        0 0 6px rgba(78, 117, 255, 0.14);
    transition: box-shadow 180ms ease, transform 120ms ease;
    
}

.gallery-item:hover {
    box-shadow:
        0 6px 12px rgba(78, 117, 255, 0.22),
        0 0 10px rgba(78, 117, 255, 0.18);
    transform: translateY(-4px);
    cursor: pointer;
}

.gallery-link {
    display: block;
    width: 100%;
}

.gallery-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
}

.image-info {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 8px 0 0 0;
    margin: 0;
}

.info {
    text-align: center;
    color: #222;
    font-weight: 600;
}

.info p {
    margin: 5px;
    font-weight: 500;
    font-size: 14px;
}
.info:hover {
    color: #4e75ff;
}
.hidden {
    display: none;
}
.loader {
    color: #6c8cff;
    font-size: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
}

@keyframes mulShdSpin {

    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em,
            2em -2em 0 0em, 3em 0 0 -1em,
            2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 -1em, -3em 0 0 -1em,
            -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
            3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 -1em, -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em,
            2em -2em 0 0, 3em 0 0 0.2em,
            2em 2em 0 0, 0 3em 0 -1em,
            -2em 2em 0 -1em, -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
            3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
            -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
            3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
            -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
            3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
            -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
            3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
            3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}
